@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto !important;
  }
}

@media only screen and (max-width: 1000px) {

  #tocPlaceholder {
    display: none;
  }

  #toc {
    display: none;
  }
}

/* The sidebar menu */
#toc {
 height: 100%;
 position: fixed;
 top: 100px;
 left: 0;
 /* background-color: #111;  */
 overflow-x: hidden;
 padding-top: 20px;
 padding-bottom: 100px;
 width: 400px;
}

#tocPlaceholder {
  width: 400px;
  /* background-color: yellow; */
}

/* The navigation menu links */
#toc a {
 /* padding: 6px 8px 6px 16px; */
 text-decoration: none;
 /* font-size: 25px; */
 color: #818181;
 /* display: block; */
}

#toc .visited a {
  color: black;
}

#toc .current {
  color: black;
  background-color: grey;
  font-weight: bold;
}

#toc .card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  /* make text unselectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#toc .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 7px;
  font-size: 12pt;
}

#toc .visited .dot {
  background-color: #0B6138;
  color: white;
}

#title {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom-style: solid;
  border-color: grey;
  border-width: 1px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15pt;
}

#title a {
  padding-right: 20px;
  color: black;
}

/* Style page content */
#content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#content .card-title {
  padding: 15px;
}

#content div.section {
  display: none;
}

#content div.section.current {
  display: block;
}



#feedback {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 5;
  padding: 8px;
}

#feedback i {
  padding-right: 4px;
}

.anchorContainer {
  margin-bottom: 96px;
}

.sectionStepper {
  margin-top: 30px;
  margin-bottom: 80px;
}

.highlight pre {
  padding: 10px;
}

div.callout p:first-of-type {
  display: inline
}

div.callout p:nth-of-type(2)::before {
  content: "\a";
  white-space: pre;
}

.card {
  margin-bottom: 20px;
}

blockquote{
  font-size: 1.1em;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote a{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

img {
  max-width: 100%;
  height: auto;
  z-index: 100;
  border: 6px solid #555;
  margin-bottom: 40px;
}

.callout img {
  margin-bottom: 0px;
}

.callout {
  margin-bottom: 40px;
}

#content .card-body {
    font-size: 18px ;
}

#content .card {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;

    border-width: 2px !important;
}

button, a#finish {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

body {
  background: #E8E8E8 !important;
}
